<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Proyectos</title>
<!-- Latest compiled and minified CSS -->
<!-- CSS only -->



<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#" th:href="@{/}">Inicio</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						class="nav-link active" aria-current="page" href=""><span sec:authentication="principal.username"></span></a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						class="nav-link active" aria-current="page" th:href="@{/logout}">Cerrar
							Sesión</a></li>
				</ul>

			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<div class="col-lg-3">
				<a th:href="@{/}" class="btn ">
				<img th:src="@{../img/flechaImg.png}" height ="50" width="50" >
				Volver</a>
		</div>
		<br>
		<h1>Relacion de proyectos</h1>
		
		<br>
		<div class="row">
			<div class="col align-self-end">
					<a th:href="@{/proyectos/nuevo}" class="btn btn-dark">Agregar
					proyecto</a>
					<br>
					<br>
					<a th:href="@{/proyectos/exportarExcel}" class="btn btn-dark">Exportar
					proyecto Excel</a>	
			</div>
		</div>
		<br>
		<table id="example" class="table table-striped table-bordered"
			style="width: 100%">
			<thead class="table-dark">
				<tr>
					<th>Titulo</th>
					<th>Fecha</th>
					<th>Ver</th>
					<th>Editar</th>
					<th>Preguntas</th>
					<th>Eliminar</th>
				</tr>
			</thead>
		
				<tr th:each="proyecto : ${listProyectos}">

					<td th:text="${proyecto.titulo}"></td>
					<td th:text="${proyecto.fechaInicio}"></td>
					<td><a th:href="@{/proyectos/ver/{id}(id=${proyecto.id})}" class="btn btn-warning">Ver</a></td>
					 	<td> <a th:href="@{/proyectos/editar/{id}(id=${proyecto.id})}" class="btn btn-info">Editar</a></td>
						<td> <a th:href="@{/proyectos/preguntas/{proyecto_id}(proyecto_id=${proyecto.id})}" class="btn btn-secondary">preguntas</a> </td>						
						<td> <a th:href="@{/proyectos/delete/{id}(id=${proyecto.id})}" class="btn btn-danger deleteButton">Eliminar</a></td>
				</tr>
	
		</table>
<!-- 		<div class="modal modal-danger"  tabindex="-1" role="dialog" id="deletModal"> -->
<!-- 			<div class="modal-dialog" > -->
<!-- 				<div class="modal-content"> -->
<!-- 					<div class="modal-header"> -->
<!-- 						<h4 class="modal-tittle">Cuidado, confirmar eliminacion</h4> -->
<!-- 						<button type="button" class="close" data-dismiss="modal"> -->
<!-- 							<span aria-hiden="true">&times;</span> -->
<!-- 						</button >   -->
<!-- 					</div> -->
<!-- 					<div class="modal-body"> -->
<!-- 						 <p>Esta seguro de eliminar el proyecto?</p> -->
<!-- 					</div> -->
<!-- 					<div class="modal-footer"> -->
<!-- 						<a href="" type = "button" class="btn btn-danger"  id="delRef">Eliminar</a >  -->
<!-- 						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button >  						 -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
		
<!-- 		</div> -->
	</div>
	




	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous">
	
	</script>

	<script type="text/javascript">
 	$(document).ready(function() {
	   $('#example').DataTable();
	    
// 	    $('.table .deleteButton').on('click', function (e) {
// 	        e.preventDefault();
// 	        var href = $(this).attr('href');
// 	        $('#deletModal #"delRef"').attr('href',href);
// 	        $('#deletModal').modal();
// 	    });
	} );
 </script>

</body>
</html>

